src/main/resources/com/timgroup/status/status-page.dtd

<!ENTITY % idAttr "id	ID	#REQUIRED">
<!ENTITY % statusAttr "class	(ok|warn|error|info) #REQUIRED">

<!ELEMENT application (component*, timestamp)>
<!ATTLIST application
	%idAttr;
	%statusAttr;
>

<!ELEMENT component (#PCDATA|value)*>
<!ATTLIST component
	%idAttr;
	%statusAttr;
>

<!ELEMENT value (#PCDATA)>

<!ELEMENT timestamp (#PCDATA)> <!-- should be ISO 8601 in UTC -->
