src/main/resources/com/timgroup/tucker/info/status/status-page.dtd

<!ENTITY % idAttr "id	ID	#REQUIRED">
<!ENTITY % statusAttr "class	(ok|warning|critical|info) #REQUIRED">

<!ELEMENT application (component*, timestamp)>
<!ATTLIST application
	%idAttr;
	%statusAttr;
	host CDATA #REQUIRED
>

<!ELEMENT component (#PCDATA|value|exception)*>
<!ATTLIST component
	%idAttr;
	%statusAttr;
>

<!ELEMENT value (#PCDATA)>
<!ELEMENT exception (#PCDATA)>

<!ELEMENT timestamp (#PCDATA)> <!-- should be ISO 8601 in UTC -->
